button {
    -webkit-app-region: no-drag;
    transition: background-color 0.3s;
}
.gallery {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0px;
    width: 100%;
    border-width: 0px;
    background-color: rgb(30, 30, 30);
}
.krkrIcon {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    height: auto;
}
.pngMainIcon {
    position: absolute;
    top: 20%;
    left: 46%;
    width: 8%;
    height: auto;
}
/* 快速开始区域 */
.quickStartPart {
    position: absolute;
    top: 60%;
    left: 18.75%;
    right: 18.75%;
    bottom: 0%;
    overflow: auto;
}
.quickStartPart::-webkit-scrollbar {
    width: 10px;
}
.quickStartPart::-webkit-scrollbar-thumb {
    background-color: rgb(66,66,66);
    border-radius: 5px;
}
.quickStartPart::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80,80,80);
    border-radius: 5px;
}
.quickStartPart::-webkit-scrollbar-corner {
    background-color: rgb(66,66,66);
}
.documentArea {
    position: absolute;
    left: 62.5%;
    right: 12.5%;
}
.produceArea {
    position: absolute;
    left: 25%;
    right: 50%;
}
.readDocButton {
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(30,30,30);
}
.readDocButton:hover {
    background-color: rgb(60,60,60);
}
.makeGameButton {
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(30,30,30);
}
.makeGameButton:hover {
    background-color: rgb(60,60,60);
}
.quickStartIcon {
    width: 64px;
    height: 64px;
}
.textHead {
	color: rgb(210,210,210);
    font-weight: bold;
    user-select:none;
}
.textContent {
	color: rgb(210, 210, 210);
    user-select:none;
}