li{
    white-space: nowrap;
    user-select:none;
}
button{
    border: none;
}
.settingPanel{
    position: absolute;
    left: 1024px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    overflow: hidden;
    background-color: rgb(32, 33, 36);
}
.header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 70px;
    border-top: 2px solid rgb(70, 70, 70);
    border-bottom: 2px solid rgb(70, 70, 70);
    background-color: rgb(41, 42, 45);
}
.panelStatusBar > ol {
	list-style-type: none;     /* 不使用列表样式 */
}
.panelStatusBar li {
	float: left;     /* 横向排列 */
	font-size: 25px;
	color:rgb(255, 255, 255);  /* 设置字体颜色 */
}
.panelStatusBar li button {
	float: left;     /* 横向排列 */
	font-size: 25px;
	color:rgb(205, 205, 205);  /* 设置字体颜色 */
    background-color: rgba(255, 255, 255, 0);
}
.panelStatusBar li button:hover {
	color:rgb(255, 255, 255);  /* 设置字体颜色 */
}
.panelStatusBar li button.selected {
	float: left;     /* 横向排列 */
	font-size: 25px;
	color:rgb(255, 255, 255);  /* 设置字体颜色 */
    background-color: rgba(255, 255, 255, 0);
}
.PanelBody{
    position: absolute;
    left: 8px;
    right: 8px;
    top: 80px;
    bottom: 0%;
}